ul.social-icons {
  margin: 0;
  padding: 0;
}
.social-icons li {
  display: inline-block;
  border: none;
  z-index: 1;
  position: relative;
}
.social-icons li {
  margin: 0 2px;
}
.social-icons li:last-child {
  margin-right: 0px;
}
.social-icons li a {
  display: block;
  min-width: 26px;
  text-align: center;
}
.social-icons.circle li > a {
  border-width: 1px;
  border-style: solid;
  height: 33px;
  width: 33px;
  line-height: 33px;
  text-align: center;
  display: block;
  background-color: transparent;
  font-size: 13px;
  border-radius: 50%;
}
.social-icons.square li {
  margin: 0 0px;
}
.social-icons.square li a {
  font-size: 14px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: inherit;
  margin-right: 8px;
  border: 1px solid #323232;
  background-color: #323232;
}

/* TooltipTop */
.tooltip-top {
  position: relative;
}
.tooltip:after,
.tooltip:before,
[data-tooltip]:after,
[data-tooltip]:before {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: 0 0;
  content: "";
}
.tooltip-top:before,
.tooltip:before,
[data-tooltip]:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}
.tooltip-top:after,
.tooltip-top:before,
.tooltip:after,
.tooltip:before,
[data-tooltip]:after,
[data-tooltip]:before {
  bottom: 100%;
  left: 50%;
}
.tooltip-bottom:after {
  bottom: -100%;
}
.tooltip-bottom:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: transparent;
}
.tooltip-bottom:before {
  bottom: -7px;
}
.tooltip-top:focus:after,
.tooltip-top:focus:before,
.tooltip-top:hover:after,
.tooltip-top:hover:before,
.tooltip:focus:after,
.tooltip:focus:before,
.tooltip:hover:after,
.tooltip:hover:before,
[data-tooltip]:focus:after,
[data-tooltip]:focus:before,
[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  transform: translateY(-12px);
}
.tooltip-top:after,
.tooltip:after,
[data-tooltip]:after {
  margin-left: -60px;
}
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 120px;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  border-radius: 5px;
}
.tooltip:focus:after,
.tooltip:focus:before,
.tooltip:hover:after,
.tooltip:hover:before,
[data-tooltip]:focus:after,
[data-tooltip]:focus:before,
[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(Opacity=100);
  opacity: 1;
}
