/** Padding **/
.spacing-1 {
  margin-top: 70px;
  padding: 92px 0px 55px 0px;
}
.spacing-2 {
  margin-left: -200px;
}
.spacing-3 {
  padding: 350px 0px 350px;
}
.spacing-4 {
  margin-left: -160px;
  margin-top: 80px;
  padding: 72px 0px 0px 210px;
}
.spacing-5 {
  padding: 90px 0px 380px 0px;
}
.spacing-6 {
  padding: 0px 45px 0px 240px;
  margin-top: -10px;
}
.spacing-7 {
  padding: 190px 70px 185px 0px;
}
.spacing-8 {
  padding: 112px 0px 131px 70px;
}
.spacing-9 {
  margin-left: -370px;
  padding: 40px 37px 35px 27px;
  margin-top: 37px;
}
.spacing-10 {
  padding: 10px 0px 0px 0px;
}
.spacing-11 {
  margin-right: -30px;
  padding: 315px 40px 55px 40px;
}
.spacing-12 {
  padding-left: 40px;
}

.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-30 {
  padding: 30px;
}
.p-50 {
  padding: 50px;
}
.p-60 {
  padding: 60px;
}
.p-80 {
  padding: 80px;
}
.p-100 {
  padding: 100px;
}
.pr-5 {
  padding-right: 5px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-15 {
  padding-right: 15px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-25 {
  padding-right: 25px;
}
.pr-30 {
  padding-right: 30px;
}
.pr-35 {
  padding-right: 35px;
}
.pr-40 {
  padding-right: 40px;
}
.pr-45 {
  padding-right: 45px;
}
.pr-50 {
  padding-right: 50px;
}
.pr-55 {
  padding-right: 55px;
}
.pr-60 {
  padding-right: 60px;
}
.pr-65 {
  padding-right: 65px;
}
.pr-70 {
  padding-right: 70px;
}
.pr-75 {
  padding-right: 75px;
}
.pr-80 {
  padding-right: 80px;
}
.pr-85 {
  padding-right: 85px;
}
.pr-90 {
  padding-right: 90px;
}
.pr-95 {
  padding-right: 95px;
}
.pr-100 {
  padding-right: 100px;
}
.pr-110 {
  padding-right: 110px;
}
.pr-120 {
  padding-right: 120px;
}
.pr-130 {
  padding-right: 130px;
}
.pr-140 {
  padding-right: 140px;
}
.pr-150 {
  padding-right: 150px;
}

.pl-0 {
  padding-left: 0px;
}
.pl-5 {
  padding-left: 5px !important;
}
.pl-10 {
  padding-left: 10px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-25 {
  padding-left: 25px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-35 {
  padding-left: 35px;
}
.pl-40 {
  padding-left: 40px;
}
.pl-45 {
  padding-left: 45px;
}
.pl-50 {
  padding-left: 50px;
}
.pl-55 {
  padding-left: 55px;
}
.pl-60 {
  padding-left: 60px;
}
.pl-65 {
  padding-left: 65px;
}
.pl-70 {
  padding-left: 70px;
}
.pl-75 {
  padding-left: 75px;
}
.pl-80 {
  padding-left: 80px;
}
.pl-85 {
  padding-left: 85px;
}
.pl-90 {
  padding-left: 90px;
}
.pl-95 {
  padding-left: 95px;
}
.pl-100 {
  padding-left: 100px;
}

.pt-5 {
  padding-top: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-25 {
  padding-top: 25px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-35 {
  padding-top: 35px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-45 {
  padding-top: 45px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-55 {
  padding-top: 55px;
}
.pt-60 {
  padding-top: 60px;
}
.pt-65 {
  padding-top: 65px;
}
.pt-70 {
  padding-top: 70px;
}
.pt-75 {
  padding-top: 75px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-85 {
  padding-top: 85px;
}
.pt-90 {
  padding-top: 90px !important;
}
.pt-100 {
  padding-top: 100px;
}
.pt-110 {
  padding-top: 110px;
}
.pt-120 {
  padding-top: 120px;
}
.pt-130 {
  padding-top: 130px;
}
.pt-140 {
  padding-top: 140px;
}
.pt-150 {
  padding-top: 150px;
}
.pt-160 {
  padding-top: 160px;
}
.pt-170 {
  padding-top: 170px;
}
.pt-180 {
  padding-top: 180px;
}
.pt-200 {
  padding-top: 200px;
}

.pb-5 {
  padding-bottom: 5px !important;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-35 {
  padding-bottom: 35px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-45 {
  padding-bottom: 45px !important;
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-55 {
  padding-bottom: 55px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-65 {
  padding-bottom: 65px;
}
.pb-70 {
  padding-bottom: 70px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pb-85 {
  padding-bottom: 85px;
}
.pb-90 {
  padding-bottom: 90px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pb-110 {
  padding-bottom: 110px;
}
.pb-120 {
  padding-bottom: 120px;
}
.pb-130 {
  padding-bottom: 130px;
}
.pb-140 {
  padding-bottom: 140px;
}
.pb-150 {
  padding-bottom: 150px;
}
.pb-160 {
  padding-bottom: 160px;
}
.pb-170 {
  padding-bottom: 170px;
}
.pb-180 {
  padding-bottom: 180px;
}
.pb-200 {
  padding-bottom: 200px;
}

/** Margin **/
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-45 {
  margin-top: 45px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-65 {
  margin-top: 65px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-90 {
  margin-top: 90px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-160 {
  margin-top: 160px;
}

.mt_5 {
  margin-top: -5px;
}
.mt_10 {
  margin-top: -10px;
}
.mt_15 {
  margin-top: -15px;
}
.mt_25 {
  margin-top: -25px;
}
.mt_30 {
  margin-top: -30px;
}
.mt_35 {
  margin-top: -35px;
}
.mt_40 {
  margin-top: -40px;
}
.mt_50 {
  margin-top: -50px;
}
.mt_55 {
  margin-top: -55px;
}
.mt_60 {
  margin-top: -60px;
}
.mt_70 {
  margin-top: -70px;
}
.mt_80 {
  margin-top: -80px;
}
.mt_90 {
  margin-top: -90px;
}
.mt_100 {
  margin-top: -100px;
}
.mt_105 {
  margin-top: -105px;
}
.mt_110 {
  margin-top: -110px;
}
.mt_115 {
  margin-top: -115px;
}
.mt_120 {
  margin-top: -120px;
}
.mt_130 {
  margin-top: -130px;
}
.mt_140 {
  margin-top: -140px;
}
.mt_150 {
  margin-top: -150px;
}
.mt_160 {
  margin-top: -160px;
}
.mt_170 {
  margin-top: -170px;
}
.mt_180 {
  margin-top: -180px;
}
.mt_190 {
  margin-top: -190px;
}
.mt_200 {
  margin-top: -200px;
}
.mt_210 {
  margin-top: -210px;
}
.mt_220 {
  margin-top: -220px;
}
.mt_240 {
  margin-top: -240px;
}
.mt_280 {
  margin-top: -280px;
}
.mt_305 {
  margin-top: -305px;
}
.mt_620 {
  margin-top: -620px;
}
.mt_535 {
  margin-top: -535px;
}
.mt_633 {
  margin-top: -633px;
}

.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-45 {
  margin-bottom: 45px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-65 {
  margin-bottom: 65px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-90 {
  margin-bottom: 90px;
}
.mb-100 {
  margin-bottom: 100px;
}

.mb_5 {
  margin-bottom: -5px;
}
.mb_10 {
  margin-bottom: -10px;
}
.mb_15 {
  margin-bottom: -15px;
}
.mb_20 {
  margin-bottom: -20px;
}
.mb_25 {
  margin-bottom: -25px;
}
.mb_30 {
  margin-bottom: -30px;
}
.mb_50 {
  margin-bottom: -50px;
}
.mb_60 {
  margin-bottom: -60px;
}
.mb_70 {
  margin-bottom: -70px;
}
.mb_80 {
  margin-bottom: -80px;
}
.mb_90 {
  margin-bottom: -90px;
}
.mb_100 {
  margin-bottom: -100px;
}
.mb_120 {
  margin-bottom: -120px;
}
.mb_140 {
  margin-bottom: -140px;
}

.ml-0 {
  margin-left: 0px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-50 {
  margin-left: 50px;
}
.ml-80 {
  margin-left: 80px;
}
.ml-100 {
  margin-left: 100px;
}
.ml-145 {
  margin-left: 145px;
}
.ml-160 {
  margin-left: 160px;
}
.ml-215 {
  margin-left: 215px;
}
.ml-250 {
  margin-left: 250px;
}

.ml_10 {
  margin-left: -10px;
}
.ml_15 {
  margin-left: -15px;
}
.ml_20 {
  margin-left: -20px;
}
.ml_25 {
  margin-left: -25px;
}
.ml_30 {
  margin-left: -30px;
}
.ml_35 {
  margin-left: -35px;
}
.ml_40 {
  margin-left: -40px;
}
.ml_50 {
  margin-left: -50px;
}
.ml_60 {
  margin-left: -60px;
}
.ml_70 {
  margin-left: -70px;
}
.ml_80 {
  margin-left: -80px;
}
.ml_90 {
  margin-left: -90px;
}
.ml_100 {
  margin-left: -100px;
}
.ml_110 {
  margin-left: -110px;
}
.ml_130 {
  margin-left: -130px;
}
.ml_150 {
  margin-left: -150px;
}
.ml_390 {
  margin-left: -390px;
}
.ml_490 {
  margin-left: -490px;
}

.mr-0 {
  margin-right: 0px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-25 {
  margin-right: 25px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-50 {
  margin-right: 50px;
}
.mr-60 {
  margin-right: 60px;
}

.mr_10 {
  margin-right: -10px;
}
.mr_15 {
  margin-right: -15px;
}
.mr_20 {
  margin-right: -20px;
}
.mr_25 {
  margin-right: -25px;
}
.mr_30 {
  margin-right: -30px;
}
.mr_40 {
  margin-right: -40px;
}
.mr_50 {
  margin-right: -50px;
}
.mr_60 {
  margin-right: -60px;
}
.mr_65 {
  margin-right: -65px;
}
.mr_70 {
  margin-right: -70px;
}
.mr_80 {
  margin-right: -80px;
}
.mr_90 {
  margin-right: -90px;
}
.mr_100 {
  margin-right: -100px;
}
.mr_130 {
  margin-right: -130px;
}
.mr_150 {
  margin-right: -150px;
}
.mr_160 {
  margin-right: -160px;
}
.mr_180 {
  margin-right: -180px;
}
.mr_200 {
  margin-right: -200px;
}
.mr_240 {
  margin-right: -240px;
}
.mr_280 {
  margin-right: -280px;
}
.mr_300 {
  margin-right: -300px;
}
.mr_380 {
  margin-right: -380px;
}
.mr_400 {
  margin-right: -400px;
}
.mr_430 {
  margin-right: -430px;
}
.mr_450 {
  margin-right: -450px;
}
.mr_500 {
  margin-right: -500px;
}
.mr_540 {
  margin-right: -540px;
}
.mr_600 {
  margin-right: -600px;
}
