.top_bar {
  width: 100%;
  z-index: 10;
  height: 50px;
  line-height: 50px;
  position: relative;
}
.top_bar_icon {
  display: inline-block;
  margin-right: 8px;
}
.top_bar_contact_item {
  font-size: 14px;
  margin-right: 30px;
  position: relative;
}
.top_bar_contact_item:last-child {
  margin-right: 0;
}
.top_bar_contact_item:after {
  content: "";
  height: 20px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.08);
  display: block;
  position: absolute;
  right: -15px;
  top: 15px;
}
.top_bar_contact_item:nth-child(even):after {
  content: unset;
}
.top_bar .social-icons li {
  min-width: 20px;
  margin-left: 0;
  font-size: 14px;
}
.top_bar .social-icons li a {
  min-width: auto;
}
.top_bar_contact_item {
  color: rgba(255, 255, 255, 0.8);
}
